body {
    background: #44c2fd;
    margin: 0px;
}

header {
    background-color: #5f59f7;
    border: solid 3px black;
    padding: 20px;
    margin: 0px;
}

nav {
    background-color: #343090;
    padding: 10px;
    margin-left: 200px;
}

h1 {
    float: left;
    width: 200px;
    margin-right: 200px;
}


section {
    background-color: white;
}

#top-section {
    background-color: #6592fd;
}

.poster-section {
    list-style: none;
    display: inline-block;
}

.star-pic {
    width: 40px;
    height: 40px;
}

a {
    color: white;
}